<ion-app>
  <ion-menu side="start" menuId="main-menu" content-id="sidebar">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Marketplace</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/transaction-history">
            <ion-icon name="sync-outline" slot="start"></ion-icon>
            <ion-label>Transaction History</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="sidebar"></ion-router-outlet>
</ion-app>
